# Django 项目:
*.log
*.pot
*.py[cod]
__pycache__
local_settings.py
db.sqlite3
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.tox/
*.mo
.mypy_cache/
.pytest_cache/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info
.installed.cfg
/media/

# 本地开发工具:
.idea/
.vscode/
*.swp

# 缓存和日志:
*.log
*.pot
*.py[cod]
*.pyo
*.pyd

